.squareButton {
  border-radius: 0 !important;
  width: 200px !important;
  height: 50px !important;
}

.textBox {
  border-radius: 5 !important;
  width: 700px !important;
}

.inputted {
  border-radius: 5 !important;
  width: 700px !important;
  height: 20px !important;
}
